<!DOCTYPE html>
<html>
<head>
  <title>Formooee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag ['jquery', 'jqueryui', 'rails'] %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
